
<style type="text/css" xmlns="http://www.w3.org/1999/html">
  #videoDiv {
    margin-right: 3px;
  }
  #videoInfo {
    margin-left: 3px;
  }
</style>

<script type="text/javascript">
  var featuredVideoId =  "<%=$featured_video_id %>";
  var currentUser = "<%=$user %>";

  function _run() {
    loadPlayer("<%=$featured_video_id%>");
  }

  $(document).ready(function(){
    _run();
    getVideoList("<%=VideoAttributes::ALL %>");
    setCurrentURL(featuredVideoId);

    createProgressDialog();
    createInfoDialog();
    createContactDialog();

  });

  function doShare() {

    $("#shareInput").val(currentVideoURL);
    $("#shareInput").toggle();
    $("#shareText").toggle();
  }

</script>
<div id="innerbody">
<div id="subheader">

<div style="margin-left:auto; margin-right:auto;width:50%;text-align:center;"><span id="fv_title" ><b><span style="color:#5d8db3">Featured Video:&nbsp;</span></b><%= $featured_video_title %></span></div>
<table class="playerTable"> <br />
  <tr>
    <td class="videoNav" width="10%">
      <img src="assets/redesign3/left_arrow3.gif" onclick="getPreviousVideo()" class="imgButtons"/>
    <td style="text-align: center">
      <div id="videoDiv" class="videoDivClass">Loading...</div>
      <div id="videoControls"/>
    </td>
    <td class="videoNav" width="10%">
      <img src="assets/redesign3/right_arrow3.gif" onclick="getNextVideo()" class="imgButtons"/>
  </tr>
</table>
  <div style="margin-top: 5px;">
    <button type="button" onclick="doShare()">Share this video</button>
    <input id="shareInput" style="display:none; width:40%; margin-right: 5px;"/>
    <span id="shareText" style="display: none;color:#696969;">Copy this link an send it to a friend</span>
  </div>
</div>

<div id="column2">
  <h2>Twitter</h2>
  <div class="sidebar">

  <script type="text/javascript" charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
   <div style="margin-left:35px;">
    <script type="text/javascript">
      loadTwitter();
  </script>    <br />  </div>
  </div>
</div>

<div id="column1">


  <h2>Explore Videos:</h2>
  <div class="sidebar">
    <h3 style="margin-left:30px; margin-right:30px;"><span style="color:#d77313;">High-yield, interactive, under-7-minute </span> videos on important clincal topics. Created <span style="color:#d77313">by medical students</span> and <span style="color:#d77313">reviewed</span> by experienced medical educators.<br /></h3>
  <div class="videoListDiv">
    <table id="videoListTable">
      <tr>
        <th>&nbsp;</th>
        <th align="left">Title</th>
        <th>Rating</th>
        <th>Views</th>
      </tr>
    </table>
  </div>
    </div>    <br /><br /><br /><br /><br />
</div>

</div>