<style type="text/css" xmlns="http://www.w3.org/1999/html">
  #videoDiv {
    margin-right: 3px;
  }
  #videoInfo {
    margin-left: 3px;
  }
</style>

<script type="text/javascript">
  var featuredVideoId =  "<%=$featured_video_id %>";
  var currentUser = "<%=$user %>";

  function _run() {
    loadPlayer("<%=$featured_video_id%>");
  }

  $(document).ready(function(){
    _run();
    getVideoList("<%=VideoAttributes::ALL %>");

    createProgressDialog();
    createInfoDialog();
    createContactDialog();

  });

</script>

Clinical concepts taught through <b>interactive, high-yield, 7 minute</b> videos - created by <b>medical students</b> and
<b>reviewed</b> for factual correctness by <b>experienced</b> medical educators.
<p>

<div id="main">

  <div style="margin-left:auto; margin-right:auto;width:50%;text-align:center;">
    <span id="fv_title" ><b>Featured Video:&nbsp;</b><%= $featured_video_title %></span>
  </div>
  <table class="playerTable">
    <tr>
      <td style="text-align: center">
        <div id="videoDiv" class="videoDivClass">Loading...</div>
        <div id="videoControls"/>
      </td>
    </tr>
    <td style="text-align: center">
      <img src="assets/previous.png" title="Previous Video" onclick="getPreviousVideo()" class="imgButtons"/>
      <img src="assets/next.png"  title="Next Video" onclick="getNextVideo()" class="imgButtons"/>
    </td>
    <tr>

    </tr>
  </table>

  <div class="videoListDiv">
    <table id="videoListTable">
      <tr>
        <th>&nbsp;</th>
        <th align="left">Title</th>
        <th>Rating</th>
        <th>Views</th>
      </tr>
     </table>
  </div>

</div>

<div id="outerBody">
  <script type="text/javascript" charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
  <script type="text/javascript">
    loadTwitter();
  </script>
</div>
